.my-container {
  --scale: 1
}
body {
  --scale: 1
}

.my-div {
  display: inline-block;
  width: calc(50px * var(--scale));
  height: calc(50px * var(--scale));
  background: blue;
}

div.image {
   content:url("img/man.jpg");
   width: calc(10px * var(--scale));
   height: calc(10px * var(--scale));
}