}
body {
  --scale: 1
}



div.image {
   content:url("img/man.jpg");
   width: calc(10px * var(--scale));
   height: calc(10px * var(--scale));
   float: left
}
button.image {
   background-image:url("img/man.jpg");
   width: calc(10px * var(--scale));
   height: calc(10px * var(--scale));
   float: left;
   background-size:100%;
}