
body {
  --scale: 1;
    direction: rtl;
}



div.image {
   content:url("img/man.jpg");
   width: calc(10px * var(--scale));
   height: calc(10px * var(--scale));
 /*  float: left*/
}
button.image {
   background-image:url("img/man.jpg");
  /* width: 100%;*/
   width: calc(10px * var(--scale));
   height: calc(50px * var(--scale));
   /*float: left;*/
   background-size:100%;
   display: block;
}
/*
פה אפשר לעצב את הפופ
*/
div.popover{
  display:inline-block;

}